<%- include("../../views/partials/admin/header") %>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-60">
            <form method="POST" action="/admin/editCategory/<%=category._id%>" enctype="multipart/form-data">
                <div class="d-grid text-end mt-30 col-md-5">
                    <button class="btn btn-primary" type="submit">Update category</button>
                </div>
                <div class="mb-4 mt-30">
                    <label for="product_name" class="form-label">Name</label>
                    <input type="text" name="categoryname" value="<%=category.name%>" class="form-control border" />
                </div>
                
                <div class="mb-4">
                    <label class="form-label">Description</label>
                    <textarea name="description" class="form-control border"><%=category.description%></textarea>
                </div>
                <div class="mb-4 mt-30">
                    <label for="category_offer" class="form-label">Offer %</label>
                    <input type="text" name="categoryOffer" value="<%=category.categoryOffer%>" class="form-control border" />
                </div>
                <div class="mb-4 position-relative">
                    <label for="category_image" class="form-label">Image</label>
                    <input type="file" name="images" class="form-control" id="category_image" accept="image/*" />
                    <div id="image-preview" class="mt-3 position-relative">
                        <img id="selected-image" src="<%=category.imagePath%>" alt="Category Image" class="img-thumbnail" style="max-width: 100%; display: none;" />
                        <button type="button" id="remove-image" class="btn-close" aria-label="Close" style="display: none; position: absolute; top: 0; right: 0;"></button>
                    </div>
                    <div id="image-error" class="error-message"></div>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include("../../views/partials/admin/footer") %>

