<%- include("../../views/partials/admin/header") %>
<style>
    .search-input {
      width: 1000px; 
      padding: 8px;
      font-size: 14px;
    }
  </style>
<header class="card-header">
    <div class="card">
        <div class="card-header p-3">
   
            <div class="row mb-3">
                <div class="col-12">
                    <form method="get" class="d-flex w-10">
                        <input 
                            type="text" 
                            name="query" 
                            placeholder="Search order ID, name, or email" 
                            class="search-input"
                            value=""
                        />
                        <button type="submit" class="btn btn-primary" style="min-width: 100px;">Search</button>
                    </form>
                </div>
            </div>
    
            
            <div class="row">
                <div class="col-12 d-flex justify-content-end">
                    <div class="d-flex gap-3 align-items-center flex-wrap">
             
                        <form id="filter-form" method="get" class="d-flex gap-2">
                            <input 
                                type="date" 
                                name="start_date" 
                                id="start_date" 
                                class="form-control" 
                                value=""
                            />
                            <input 
                                type="date" 
                                name="end_date" 
                                id="end_date" 
                                class="form-control" 
                                value=""
                            />
                            <select name="range" id="range" class="form-control">
                                <option value="daily">Daily</option>
                                <option value="weekly">Weekly</option>
                                <option value="yearly">Yearly</option>
                            </select>
                        </form>
                    
                      
                        <div class="d-flex gap-2">
                            <a href="/admin/download-excel" class="btn btn-success" id="download-excel">Download Excel</a>
                            <!-- <a href="#" id="download-pdf" class="btn btn-danger">Download PDF</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
</header>

<main class="content-main" style="margin-left: 15%;">
    <section class="content-main">
        <div class="content-header">
            <h2 class="content-title">Order List</h2>
        </div>
    
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Total</th>
                                <th>Status</th>
                                <th>Date</th>
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% orders.forEach(order => { %>
                                <tr>
                                    <td><%= order.orderId %></td>
                                    <td><%= order.userId.name %></td>
                                    <td><%= order.userId.email %></td>
                                    <td>$<%= order.totalAmount %></td>
                                    <td><span class="badge rounded-pill alert-warning"><%= order.status %></span></td>
                                    <td><%= order.createdAt.toDateString() %></td>
                                    <td class="text-end">
                                        <a href="/admin/order-details/<%= order._id %>" class="btn btn-sm btn-primary">Details</a>
                                        
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    
  
    
</main>
     
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>
        <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendors/select2.min.js"></script>
        <script src="assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
        <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>
        <%- include("../../views/partials/admin/footer") %>