<%- include("../../views/partials/admin/header") %>



    <section class="content-main">
        <div class="content-header">
            <h2 class="content-title" >Order List</h2>
        </div>
    
        <div class="right mt-5">
            <div class="card-header">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Total</th>
                                <th>Status</th>
                                <th>Date</th>
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% orders.forEach(order => { %>
                                <tr>
                                    <td><%= order.orderId %></td>
                                    <td><%= order.userId.name %></td>
                                    <td><%= order.userId.email %></td>
                                    <td>₹<%= order.totalAmount %></td>
                                    <td><span class="badge rounded-pill alert-warning"><%= order.status %></span></td>
                                    <td><%= order.createdAt.toDateString() %></td>
                                    <td class="text-end">
                                        <a href="/admin/order-details/<%= order._id %>" class="btn btn-sm btn-primary">Details</a>
                                        
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="pagination-container" style="text-align: center;">
            <% if (currentPage > 1) { %>
            <a href="?page=<%= currentPage - 1 %>">&laquo; Previous</a>
            <% } %> <% for (let i = 1; i <= totalPages; i++) { %> <% if (i ===
            currentPage) { %>
            <span class="current-page"><%= i %></span>
            <% } else { %>
            <a href="?page=<%= i %>"><%= i %></a>
            <% } %> <% } %> <% if (currentPage < totalPages) { %>
            <a href="?page=<%= currentPage + 1 %>">Next &raquo;</a>
            <% } %>
          </div>
    </section>
          
        </main>
        
        <script>document.write(new Date().getFullYear());</script>
        <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendors/select2.min.js"></script>
        <script src="assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
        <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>
        <%- include("../../views/partials/admin/footer") %>