<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Male_Fashion Template" />
    <meta name="keywords" content="Male_Fashion, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Gents Club</title>


    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.rawgit.com/elevateweb/elevatezoom/2.2.3/jquery.elevateZoom.min.js"></script>

    <!-- Css Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
   <link rel="stylesheet" href="/css/styles.css" type="text/css" />

   
    
  </head>
<body>
 

  <body>
    <style>
      .dropdown {
        position: relative;
        display: inline-block;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        right: 0;
      }
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        width: 100%;
      }
      .dropdown-content a:hover {
        background-color: #f1f1f1;
      }
      .dropdown:hover .dropdown-content {
        display: block;
      }
      .header {
        position: relative;
        z-index: 500;
      }


    .stock-status {
      margin-top: 10px;
      font-size: 14px;
      font-weight: bold;
    }

    .in-stock {
    color: green;
    }

    .out-of-stock {
    color: red;
    }

    .save__price{
      color: green;
    }

    .main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    }
    .shop-topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    }

    .search-form {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 25px;
    overflow: hidden;
    max-width: 250px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .search-input {
    flex: 1;
    padding: 8px 10px;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: transparent;
    }

    .search-button {
    padding: 8px 15px;
    background-color: #1e918b;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 15px;
    margin-right: 5px;
    transition: background-color 0.3s, transform 0.2s;
    }

    .search-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    }
    .sidebar {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 250px;
    text-align: center;
    }

    .filter-section {
    margin-bottom: 20px;
    }

    .filter-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
    }

    .filter-item {
    margin: 5px 0;
    }

    .filter-item a {
    text-decoration: none;
    color: #333;
    }

    .filter-item a:hover {
    color: #007bff;
    }

    .product-list-container {
    display: flex;
    gap: 20px;
    }

    .product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: calc(100% - 270px);
    }

    .product-card {
    width: calc(33.333% - 20px);
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    }

    .product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    }

    .wishlist-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: rgba(237, 247, 247, 0.8);
    color: #fff;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    }

    .add-to-cart-btn {
    background-color: #46698f;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    }

    .pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    }

    .pagination a {
    padding: 8px 12px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    color: #333;
    text-decoration: none;
    }

    .pagination .active {
    background-color: #007bff;
    color: #fff;
    }

    .price-filter {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-top: 20px;
    }

    .price-filter .price-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    }

    .price-button {
    padding: 12px 20px;
    background-color: #f1f1f1;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center;
    font-size: 14px;
    }

    .price-button:hover {
    background-color: #007bff;
    color: white;
    transform: scale(1.05);
    }

    .price-button:active {
    transform: scale(0.95);
    }

    .category-brand-container {
    text-align: center;
    }
    .details__img {
    transition: transform 0.3s ease;
    cursor: zoom-in; 
    }



     </style>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
      <div class="header__top">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-7">
              <div class="header__top__left">
                <p>Free shipping, 10-day return or refund guarantee.</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-5">
              <div class="header__top__right">
                <div class="header__top__links"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3">
            <div class="header__logo">
              <a href="./index.html"><img src="/img/logo.png" alt="" /></a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <nav class="header__menu mobile-menu">
              <ul>
                <li class=""><a href="/">Home</a></li>
                <li class=""><a href="/shop">Shop</a></li>
               

                <li><a href="./contact.html">Contacts</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="header__nav__option">
              <%if(locals.user){%>
              <div class="dropdown">
                <a href="#" class="sign-in-link"><%=locals.user.name%></a>
                <div class="dropdown-content">
                  <a href="/profile">Profile</a>
                  <a href="/logout">Logout</a>
                </div>
              </div>
              <%}else{%>
              <a href="/login" class="sign-in-link">Log in</a>
              <a href="/signup" class="sign-in-link">Sign up</a>
              <%}%>
              <a href="#" class="search-switch"
                ><img src="/img/icon/search.png" alt=""
              /></a>
              <a href="/wishlist"><img src="/img/icon/heart.png" alt="" /></a>
              <a href="/cart"><img src="/img/icon/cart.png" alt="Cart" /> </a>
            </div>
          </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
      </div>
    </header>
    <!-- Header Section End -->
  </body>

 


<main class="main">
    <!--=============== BREADCRUMB ===============-->
    <section class="breadcrumb">
      <ul class="breadcrumb__list flex container">
        <li><a href="#" class="breadcrumb__link">Home</a></li>
        <li><span class="breadcrumb__link"></span>></li>
        <li><span class="breadcrumb__link">shop</span></li>
        <li><span class="breadcrumb__link"></span>></li>
        <li><span class="breadcrumb__link"><%=Products.productName%></span></li>
      </ul>
    </section>

    <!--=============== DETAILS ===============-->
    <section class="details section--lg">
      <div class="details__container container grid">
        <div class="details__group">
          <img
            src="/uploads/product-images/<%=Products.productImage[0]%>"
            alt=""
            class="details__img zoom"
            data-zoom-image="/uploads/product-images/<%=Products.productImage[0]%>"
            id="zoom"
          />
          <div class="details__small-images grid">
            <img
              src="/uploads/product-images/<%=Products.productImage[0]%>"
              alt=""
              class="details__small-img"
            />
            <img
              src="/uploads/product-images/<%=Products.productImage[1]%>"
              alt=""
              class="details__small-img"
            />
            <img
              src="/uploads/product-images/<%=Products.productImage[2]%>"
              alt=""
              class="details__small-img"
            />
          </div>
        </div>
        <div class="details__group">
          <h3 class="details__title"><%=Products.productName%></h3>
          <p class="details__brand"> <span></span></p>
          <div class="details__price flex">
            <span class="new__price">₹<%=Products.salePrice%></span>
            <span class="old__price">₹<%=Products.regularPrice%></span>
            <span class="save__price"><%= Math.round(((Products.regularPrice - Products.salePrice) / Products.regularPrice) * 100) %>% Off</span>
          </div>
          <p class="save__price">
            Product Offer ₹<%=Products.productOffer%><br>
            category Offer ₹<%=Products.categoryOffer%>
           </p>
         
          <p class="short__description">
           <%=Products.description%>
          </p>
          <ul class="products__list">
            <li class="list__item flex">
              <i class="fi-rs-crown"></i>
            </li>
            <li class="list__item flex">
              <i class="fi-rs-refresh"></i> 30 Days Return Policy
            </li>
            <li class="list__item flex">
              <i class="fi-rs-credit-card"></i> Cash on Delivery available
            </li>
          </ul>
          
          <div class="details__size flex">
            <span class="details__size-title">Size</span>
            <ul class="size__list" id="size-list">
              <li>
                <a href="#" id="size-M" class="size__link size-active" data-stock="<%= Products.size.find(s => s.sizeName === 'M')?.quantity || 0 %>" data-size="M">M</a>
              </li>
              <li>
                <a href="#" id="size-L" class="size__link" data-stock="<%= Products.size.find(s=>s.sizeName==='L')?.quantity || 0 %>" data-size="L">L</a>
              </li>
              <li>
                <a href="#" id="size-XL" class="size__link" data-stock="<%= Products.size.find(s => s.sizeName === 'XL')?.quantity || 0 %>" data-size="XL">XL</a>
              </li>
            </ul>
          </div>
          
          <li class="meta__list flex">
            <span>Availability:</span><span id="stock-status" class="stock-status"></span>
          </li>
          
          <div class="details__action">
            <input type="number" id="quantity-input" class="quantity" value="<%= Products.quantity %>" min="1">
            <button id="add-to-cart-btn" class="add-to-cart-btn" data-product-id="<%= Products._id %>">Add to Cart</button>
            <a href="#" id="decrease-btn" class="details__action-btn">
              <i class="fi fi-rs-minus"></i>
            </a>
            <a href="#" id="increase-btn" class="details__action-btn">
              <i class="fi fi-rs-plus"></i>
            </a>
          </div>
          
          <ul class="details__meta">
            <li class="meta__list flex"><span>SKU:</span>FWM15VKT</li>
            <li class="meta__list flex">
              <span>Tags:</span>Clothes, Men, Dress
            </li>
      

          </ul>
        </div>
      </div>
    </section>

    <!--=============== DETAILS TAB ===============-->
    <section class="details__tab container">
      <div class="detail__tabs">
        <span class="detail__tab active-tab" data-target="#info">
          Additional Info
        </span>
        <span class="detail__tab" data-target="#reviews">Reviews(3)</span>
      </div>
      <div class="details__tabs-content">
        <div class="details__tab-content active-tab" content id="info">
          <table class="info__table">
           
            <tr>
              <th>Color</th>
              <td><%=Products.color%></td>
            </tr>
         
          </table>
        </div>
        <section class="product spad">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <ul class="filter__controls">
                          <li data-filter=".new-arrivals">Related Products</li>
                      </ul>
                  </div>
              </div>
              <div class="row product__filter">
                <%for(let i=0;i<relatedProducts.length;i++){%>
                      <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                          <div class="product-cart-wrap mb-30">
                              <div class="product-img-action-wrap">
                                  <div class="product-img product-img-zoom">
                                      <a href="/productDetails/<%= relatedProducts[i]._id %>">
                                          <img class="default-img" src="/uploads/product-images/<%=relatedProducts[i].productImage[0]%>" alt="<%=relatedProducts[i].productName%>">
                                      </a>
                                  </div>
                                  <a href="/addToWishlist?id=<%=relatedProducts[i]._id%>" class="wishlist-btn">
                                      <i class="fas fa-heart"></i>
                                  </a>
                              </div>
        
                              <div class="product-content-wrap">
                                  <h6><%=relatedProducts[i].productName%></h6>
                                  <h5><%=relatedProducts[i].salePrice%></h5>
                              </div>
                          </div>
                      </div>
                      <%}%>
              </div>
          </div>
          </div>
          <input type="hidden" id="cart-quantity" value="<%= cartQuantity %>">
        </section>

    <!--=============== PRODUCTS ===============-->
   
  </main>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
   <%- include("../../views/partials/user/footer") %>
   
   
   <!-- Search Begin -->
   <div class="search-model">
     <div class="h-100 d-flex align-items-center justify-content-center">
         <div class="search-close-switch">+</div>
         <form class="search-model-form">
             <input type="text" id="search-input" placeholder="Search here.....">
         </form>
     </div>
   </div>
   <!-- Search End -->
   
   <!-- Js Plugins -->

   <script src="/js/jquery-3.3.1.min.js"></script>
   <script src="/js/bootstrap.min.js"></script>
   <script src="/js/jquery.nice-select.min.js"></script>
   <script src="/js/jquery.nicescroll.min.js"></script>
   <script src="/js/jquery.magnific-popup.min.js"></script>
   <script src="/js/jquery.countdown.min.js"></script>
   <script src="/js/jquery.slicknav.js"></script>
   <script src="/js/mixitup.min.js"></script>
   <script src="/js/owl.carousel.min.js"></script>
   <script src="/js/main.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  

   <script>
 
 document.addEventListener('DOMContentLoaded', () => { 
  const sizeLinks = document.querySelectorAll('.size__link');
  const stockStatus = document.getElementById('stock-status');
  const quantityInput = document.getElementById('quantity-input');
  const addToCartBtn = document.getElementById('add-to-cart-btn');
  const increaseBtn = document.getElementById('increase-btn');
  const decreaseBtn = document.getElementById('decrease-btn');
  let selectedSize = 'M'; 
  let availableStock = parseInt(document.querySelector('.size__link.size-active').dataset.stock);

  updateStockStatus(availableStock);
  
  sizeLinks.forEach((link) => {
    link.addEventListener('click', (e) => {
      e.preventDefault();

      sizeLinks.forEach((l) => l.classList.remove('size-active'));

      link.classList.add('size-active');

      selectedSize = link.dataset.size;
      availableStock = parseInt(link.dataset.stock);
      
      updateStockStatus(availableStock);
      quantityInput.max = availableStock;
    });
  });

  function updateStockStatus(stock) {
    if (stock > 0) {
      stockStatus.textContent = `${stock} in stock`;
      stockStatus.classList.remove('out-of-stock');
      stockStatus.classList.add('in-stock');
     
    } else {
      stockStatus.textContent = 'Out of Stock';
      stockStatus.classList.remove('in-stock');
      stockStatus.classList.add('out-of-stock');
    
    }
  }


  document.getElementById('increase-btn').addEventListener('click', (e) => {
    e.preventDefault();
    if (quantityInput.value < availableStock) {
      quantityInput.value = parseInt(quantityInput.value) + 1;
    }
  });

  document.getElementById('decrease-btn').addEventListener('click', (e) => {
    e.preventDefault();
    if (quantityInput.value > 1) {
      quantityInput.value = parseInt(quantityInput.value) - 1;
    }
  });

  


  addToCartBtn.addEventListener('click', async () => {
    const productId = addToCartBtn.dataset.productId;
    const quantity = parseInt(quantityInput.value);
    const cartQuantity = parseInt(document.getElementById('cart-quantity').value) || 0;
  const availablestock = parseInt(stockStatus.textContent);
    

    try {
      const response = await fetch('/addToCart', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          productId,
          size: selectedSize,
          quantity,
        }),
      });

      if (response.ok) {
        const data = await response.json()
        Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: data.message,
                    showConfirmButton:false,
                    timer: 2000
      })
       
      } else {
        const error = await response.json();
        Swal.fire({
                    icon: 'error',
                    title: 'Failed',
                    text:  error.message ,
                    confirmButtonText: 'OK',
      })
      }
    } catch (err) {
      console.error('Error adding to cart:', err);
      Swal.fire({
                    icon: 'error',
                    title: 'Failed',
                    text: 'An error occurred. Please try again.',
                    confirmButtonText: 'OK',
      })
    }
  });
});

    document.addEventListener("DOMContentLoaded", function () {
 
      const mainImage = document.querySelector(".details__img");
      const smallImages = document.querySelectorAll(".details__small-img");
  
      smallImages.forEach((smallImg) => {
        smallImg.addEventListener("click", function () {
          
          mainImage.src = smallImg.src;
        });
      });
 
      mainImage.addEventListener("mousemove", (e) => {
      
        const imgWidth = mainImage.naturalWidth;
        const imgHeight = mainImage.naturalHeight;
  
        const x = e.offsetX;
        const y = e.offsetY;
  
        const zoomX = (x / mainImage.offsetWidth) * imgWidth;
        const zoomY = (y / mainImage.offsetHeight) * imgHeight;
  
        mainImage.style.transformOrigin = `${(x / mainImage.offsetWidth) * 100}% ${(y / mainImage.offsetHeight) * 100}%`;
        mainImage.style.transform = "scale(1.5)"; 
      });
  
      mainImage.addEventListener("mouseleave", () => {
        mainImage.style.transform = "scale(1)"; 
      });
    });
  </script>
  
   
   </body>
   
   </html>


